<div ng-controller="BaseImagesController">
  <div id="base_image-list-container">
    <ul>
      <li ng-repeat="base_image in base_images"
          ng-click="showBaseImage(base_image)">
        <h3>{{base_image.title}}</h3>
        <p>Description: {{base_image.desc}}</p>
      </li>
    </ul>
  </div>

  <div id="base_image-view-container" ng-show="selectedBaseImage">
    <h2>{{selectedBaseImage.title}}</h2>

    <p>File: - <a ng-href="{{selectedBaseImage.link}}">{{selectedBaseImage.image_name}}</a></p>
    <p>Description: {{selectedBaseImage.desc}}</p>
    <p>Updated At: {{selectedBaseImage.updated_at | date: 'mediumDate'}}
  </div>

</div>
