<div ng-controller="ImagesController">
  <div id="image-list-container">
    <ul>
      <li ng-repeat="image in images"
          ng-click="showImage(image, $index)">
        <h3 ng-class="{active: $index == selectedRow}">{{image.title}}</h3>
        <p>Description: {{image.desc}}</p>
      </li>
    </ul>
  </div>

  <div id="image-view-container" ng-show="selectedImage">
    <h2>{{selectedImage.title}}</h2>

    <p>File: - <a ng-href="{{selectedImage.image_name}}">{{selectedImage.image_name}}</a></p>
    <p>Description: {{selectedImage.desc}}</p>
    <p>Updated At: {{selectedImage.updated_at | date: 'mediumDate'}}
  </div>

</div>
